extends layout
block content
  h1 #{title}: #{category.name}
  if category_items.length > 0
    h2 You must delete these items before you can delete this category:
    ul
      each item in category_items
        li
          a(href=item.url) #{item.name}
          p= item.description
          a(href=item.category.url) #{item.category.name}
          p= item.price_formatted
          p= item.quantity
  else
    p Are you sure you want to delete this category?
    form(method="POST", action="")
      button(type="submit") Delete
